<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/admin/whitelist">
  <img width="30" height="30" src="https://d3attjoi5jlede.cloudfront.net/images/web/fav/180x180.png"></img>
  Pepo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" id="whitelist-link">
        <a class="nav-link" href="/admin/whitelist">WHITELIST</a>
      </li>
      <li class="nav-item" id="user-approval-link">
        <a class="nav-link" href="/admin/user-approval">DASHBOARD</a>
      </li>
      <li class="nav-item" id="reports-link">
        <a class="nav-link" href="/admin/usage-reports">REPORTS</a>
      </li>
      <li class="nav-item" id="discover-link">
              <a class="nav-link" href="/admin/discover">DISCOVER</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      {{#if decodedParams.loggedInAdmin}}
        <li class="nav-item" id="logout"><a class="nav-link" href="/api/v1/admin/logout">LOGOUT</a></li>
      {{else}}
        <li class="nav-item" id="login"><a class="nav-link" href="/admin/login">LOGIN</a></li>
      {{/if}}
    </ul>
  </div>
</nav>
