<script id="video-detail-row" type="text/x-handlebars-template">
  <tr>
    <td scope="col">
      <img src=\{{posterImageLink}} id="video-thumbnail">
    </td>

    <td scope="col">\{{fanCount}}</td>

    <td scope="col">\{{pepoReceived}}</td>

    <td scope="col">
      <button class="btn btn-danger" id="video-delete-btn" data-video-id=\{{inviteId}}>Delete</button>
    </td>
  </tr>
</script>