<!doctype html>
<html>
<head>
    <meta charset="utf-8" />

    <title>Pepo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <meta name="description" content="Collect more than Likes">
    <meta name="keywords" content="pepo, pepo app, an ost project, more than likes">
    <meta name="robots" content="index, follow">
    <link rel="canonical" href="https://pepo.com" />

    <meta property="og:title" content="Pepo"/>
    <meta property="og:description" content="Collect more than Likes"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://pepo.com"/>
    <meta property="og:site_name" content="pepo.com"/>
    <meta property="og:image" content="https://d3attjoi5jlede.cloudfront.net/images/web/fav/pepo-meta-img.png"/>

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Pepo" />
    <meta name="twitter:description" content="Collect more than Likes" />
    <meta name="twitter:image" content="https://d3attjoi5jlede.cloudfront.net/images/web/fav/pepo-meta-img.png" />

    {{{css 'mCommon.css'}}}
    {{#each mCss}}
        {{{css this}}}
    {{/each}}
    <script>window.name = "{{randomStr}}";</script>
</head>
<body contenteditable="false">

</body>
</html>
