
<style>
    .inputRow{
        margin-bottom: 10px;
    }
    .inputRow input[type=text], .inputRow textarea{
        border: 1px solid black;
        width: 100%
    }
    #requestError{
        color: red;
        margin-top:20px;
        display:none;
    }
    #requestSuccess{
        color: green;
        margin-top:20px;
        display:none;
    }
</style>
<div class="container">
	<div class="row">
		<div class="col-12">
            <form id="channel-form">
                <div class="row inputRow">
            	    <div class="col-5" style="font-weight: bold;">
                        Do you want to edit Channel?
                    </div>
                    <div class="col-7">
                        <input type="radio" name="is_edit" value="1"><label for="male">Yes</label>&nbsp;&nbsp;
                        <input type="radio" name="is_edit" value="0" checked><label for="female">No</label>
                    </div>
            	</div>
			    <div class="row inputRow">
                    <div class="col-3">Permalink</div>
                    <div class="col-1">:</div>
                    <div class="col-8"><input type="text" name="permalink" /></div>
                </div>
                <div class="row inputRow">
			        <div class="col-3">Name</div>
			        <div class="col-1">:</div>
			        <div class="col-8"><input type="text" name="name" /></div>
                </div>
                <div class="row inputRow">
			        <div class="col-3">Description</div>
                    <div class="col-1">:</div>
                    <div class="col-8"><textarea name="description" rows="2" cols="50" ></textarea></div>
                </div>
                <div class="row inputRow">
                    <div class="col-3">Tagline</div>
                    <div class="col-1">:</div>
                    <div class="col-8"><textarea name="tagline" rows="2" cols="50" ></textarea></div>
                </div>
                <div class="row inputRow">
                    <div class="col-3">New all tags</div>
                    <div class="col-1">:</div>
                    <div class="col-8"><input type="text" name="tags" placeholder="Comma saperated New tags" /></div>
                </div>
                <div class="row inputRow">
                    <div class="col-3">Admins</div>
                    <div class="col-1">:</div>
                    <div class="col-8">
                        <input type="text" name="admins" placeholder="Comma saperated user names" />
                        <div>Note: Please add only new tags here. If you give already associated tags again it will break.</div>
                    </div>
			    </div>

			    <input id="original_image_url" type="hidden" name="original_image_url">
			    <input id="original_image_file_size" type="hidden" name="original_image_file_size">

			    <input id="share_image_url" type="hidden" name="share_image_url">
			    <input id="share_image_file_size" type="hidden" name="share_image_file_size">
			</form>

            <div class="row">
                <div class="col-3">Cover/Share Image</div>
                <div class="col-1">:</div>
			    <input id="originalImage" type="file" accept="image/*">
			</div>
		</div>
		<div class="col-12" id="requestError"></div>
		<div class="col-12" id="requestSuccess" style="margin-top:20px;display:none;"></div>
		<div class="col-12" style="margin-top:20px;">
			<button class="btn btn-outline-danger" id="create-edit-channel">Create / Edit</button>
		</div>
	</div>

</div>
{{#contentFor "pageScripts"}}
	<script type="text/javascript">

	  $(document).ready(function() {

        window.getFormData = function(paramsList) {
          var formData = new FormData();
          for (var key in paramsList) {
            formData.append(key, paramsList[key]);
          }
          return formData;
        };


        /*
        (function(window, $) {
                window.getFormData = function(paramsList) {
                                 var formData = new FormData();
                                 for (var key in paramsList) {
                                   formData.append(key, paramsList[key]);
                                 }
                                 return formData;
                               };
                })(window, jQuery);
        */
	    var Channel = new window.Channel();
	  });
	</script>
{{/contentFor}}
