<style>
    .inputRow{
        margin-bottom: 25px;
    }
    .inputRow input[type=text], .inputRow textarea{
        border: 1px solid black;
        width: 100%
    }
    #requestError{
        color: red;
        margin-top:20px;
        display:none;
    }
    #requestSuccess{
        color: green;
        margin-top:20px;
        display:none;
    }
    .originalImageContainer{
        margin-bottom: 25px;
    }
    .notes{
        font-size: 13px;
    }
    .newCommunityContainer {
        margin-top: 20px;
    }
</style>
<div class="container">
	<div class="row">
		<div class="col-12">
            <form id="channel-form">
                <div class="row inputRow newCommunityContainer">
            	    <div class="col-3" style="font-weight: bold;">
                        NEW community?
                    </div>
                    <div class="col-9">
                        <input type="radio" name="is_edit" value="0" checked><label for="female">Yes</label>&nbsp;&nbsp;
                        <input type="radio" name="is_edit" value="1"><label for="male">No</label>
                    </div>
            	</div>
                <div class="row inputRow">
                    <div class="col-3"></div>
                    <div class="col-9 notes"> We identify already existing communities using their permalinks. Please ensure that permalink is unique for every community.</div>
                </div>
                <div class="row inputRow originalImageContainer">
                    <div class="col-3">Cover Image:</div>
                    <div class="col-9"><input id="originalImage" type="file" accept="image/*"></div>
                </div>
			    <div class="row inputRow">
                    <div class="col-3">Permalink:</div>
                    <div class="col-9">
                        <input type="text" name="permalink" placeholder="Example: https://pepo.com/communities/[permalink]"/>
                        <div class="notes"> Note: We identify already existing communities using their permalinks. Please ensure that permalink is unique for every community.</div>
                    </div>
                </div>
                <div class="row inputRow">
			        <div class="col-3">Name:</div>
			        <div class="col-9"><input type="text" name="name" placeholder="Max character limit: 25."/></div>
                </div>
                <div class="row inputRow">
                    <div class="col-3">Tagline:</div>
                    <div class="col-9"><textarea name="tagline" rows="2" cols="50" placeholder="Max character limit: 45."></textarea></div>
                </div>
                <div class="row inputRow">
			        <div class="col-3">About:</div>
                    <div class="col-9">
                        <textarea name="description" rows="2" cols="50" placeholder="Max character limit: 400." ></textarea>
                    </div>
                </div>

                <div class="row inputRow">
                    <div class="col-3">Tags:</div>
                    <div class="col-9">
                        <input type="text" name="tags" placeholder="Comma separated new tags. Example: tag1, tag2, tag3" />
                        <div class="notes">Note: In the field above, just input new tags. Current implementation only supports addition of tags. If you want to remove tags, contact backend team.</div>
                    </div>
                </div>
                <div class="row inputRow">
                    <div class="col-3">Admins:</div>
                    <div class="col-9">
                        <input type="text" name="admins" placeholder="Comma separated Pepo user names. Example: betashop, Sim_Pop" />
                        <div class="notes">Note: In the field above, just input new admins. Current implementation only supports addition of admins. If you want to remove admins, contact backend team.</div>
                    </div>
			    </div>

			    <input id="original_image_url" type="hidden" name="original_image_url">
			    <input id="original_image_file_size" type="hidden" name="original_image_file_size">

			</form>
		</div>
		<div class="col-12" id="requestError"></div>
		<div class="col-12" id="requestSuccess" style="margin-top:20px;display:none;"></div>
		<div class="col-12" style="margin:20px 0;">
			<button class="btn btn-outline-danger" id="create-edit-channel">Submit</button>
		</div>
	</div>

</div>
{{#contentFor "pageScripts"}}
	<script type="text/javascript">

	  $(document).ready(function() {

        window.getFormData = function(paramsList) {
          var formData = new FormData();
          for (var key in paramsList) {
            formData.append(key, paramsList[key]);
          }
          return formData;
        };

	    var Channel = new window.Channel();
	  });
	</script>
{{/contentFor}}
