<div class="container">
  <br/>
  <form class="form-inline" id="user-search-form">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn">Search</button>
  </form>

  <br/>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">NAME</th>
      <th scope="col">SOCIAL LINKS</th>
      <th scope="col">STATUS</th>
      <th scope="col">SUBMISSION</th>
      <th scope="col">ACTION</th>
      <th scope="col">ADMIN ACTION</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="user-search-results"></tbody>
  </table>

  <div id="modal-container"></div>

  <br/>
  <div class="text-center"> 
    <button class="btn btn-outline-danger my-2 my-sm-0 justify-content-center" type="submit" id="load-btn">Load more</button>
  </div>
  <br/>
</div>


{{#contentFor "pageScripts"}}
  <script type="text/javascript">
      $(document).ready(function() {
           var initParams  = {{{json decodedParams}}};
           var userApproval = new window.UserApproval(initParams);
            userApproval.loadUsers();
      });
  </script>
  {{>userDetailRow}}
  {{>videoModal}}
{{/contentFor}}