<div class="container">
  <br/>
  <form class="form-inline" id="user-search-form">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="q">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="search-btn">Search</button>
  </form>

  <br/>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Social links</th>
      <th scope="col">Status</th>
      <th scope="col">Submission</th>
      <th scope="col">Action</th>
      <th scope="col">Admin action</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody id="user-search-results"></tbody>
  </table>

  <div id="modal-container"></div>

  <div class="float-right">
    <button type="button" class="btn btn-outline-secondary disabled" id="users-previous-page" aria-disabled="true">&lt;</button>
    <button type="button" class="btn btn-outline-secondary disabled" id="users-next-page" aria-disabled="true">&gt;</button>
  </div>
</div>


{{#contentFor "pageScripts"}}
  <script type="text/javascript">
      $(document).ready(function() {
          let userApproval = new window.UserApproval({});

          userApproval.loadUsers();
      });
  </script>
  {{>userDetailRow}}
  {{>videoModal}}
{{/contentFor}}