<div class="container">
  <br/>
  <div class="inline-block row">
    <div class="col">
      {{name}}
      <br/>
      <small>{{userName}}</small>
    </div>
  </div>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">VIDEO</th>
      <th scope="col">FANS</th>
      <th scope="col">PEPO RECEIVED</th>
      <th scope="col">ACTION</th>
    </tr>
    </thead>
    <tbody id="video-results"></tbody>
  </table>

  <br/>

  <div class="text-center"> 
    <button class="btn btn-outline-danger my-2 my-sm-0 justify-content-center" type="submit" id="videos-load-btn">Load more</button>
  </div>

  <br/>
</div>

{{#contentFor "pageScripts"}}
  <script type="text/javascript">
      $(document).ready(function() {
          let userProfile = new window.UserProfile({});
      });
  </script>
  {{>videoDetailRow}}
{{/contentFor}}