<script id="discover-tag-list-item-template" type="text/x-handlebars-template">
    <li id="\{{id}}" class="mb-2">
        <div class="row item-wrapper p-2">
            <div class="d-inline    ">
                \{{entryLabel}}
            </div>
            <div class="d-inline ml-auto">
                <span data-id="\{{id}}" class="fa fa-trash delete-entry" aria-hidden="true"></span>
                <span class="fas fa-bars" aria-hidden="true"></span>
            </div>

        </div>
    </li>
</script>