<script id="discover-tag-list-item-template" type="text/x-handlebars-template">
    <li id="\{{id}}" class="mb-2 dragable-element">
        <div class="row item-wrapper p-2">
            <div class="d-inline content-wrap">
                \{{entryLabel}}
            </div>
            <div class="d-inline ml-auto">
                <span data-id="\{{id}}" class="fa fa-trash delete-entry" aria-hidden="true"></span>
                <span class="fa fa-arrows mx-2 drag-entry" aria-hidden="true"></span>
            </div>

        </div>
    </li>
</script>
<script type="text/javascript">
    $(document).ready(function() {
        new window.TagsCurated();
    });
</script>