
html, body {
	font-family: 'Lato', sans-serif;
}

.modal {
	position: fixed;
	top: 3%;
}

i.fa.fa-link {
	color: white;
	background: #dc3545;
	border-radius: 100px;
	padding: 3%;
}

#user-profile-img:hover {
  cursor: pointer;
}